---
permalink: /blog/
layout: 
title: Blog
---


{% include head.html %}

    {% include title.html %}


<div class = "content">

{% for post in site.posts %}
	{% if post.categories contains 'blog'%}

	<h1><a href="{{ BASE_PATH }}{{ post.url }}">{{ post.title | markdownify }}</a></h1>
	<h5 style = "text-align: center; margin-bottom: 2em;"> <i>by</i> <b>{{ post.author}}</b><i>, {{ post.date | date_to_long_string }}</i> </h5>

		{% if forloop.index < 3 %}
			<div class = "teaser"> {{ post.teaser | markdownify }} </div>
			
		{% endif %}

	{%endif%}
{% endfor %}

</div>


<div class = "up" >
 <a rel = "prev" href="{{ site.url }}/"> <span>  &circ; </span></a>
</div>


<div class = "turn" style = " right: 0px" >
 <a rel = "next" href="{{ site.url }}/"> <span> &rsaquo; </span></a>
</div>


<div class = "turn" style = " left: 0px" >
 <a rel = "prev" href="{{ posts.last.url }}"> <span> &lsaquo; </span></a>
</div>

{% include footer.html%}
