---
layout: 
title:
---

{% include head.html %}

    {% include title.html %}

	<br>
	<br>

<div class = "content">
	
	<!-- newest blogpost -->
	
		{% for post in site.posts %}
		{% if post.categories contains 'blog'%}	
			
			{% if forloop.index < 2 %}
				
				<h1><a href="{{ BASE_PATH }}{{ post.url }}">{{ post.title | markdownify }}</a></h1>
				<h5 style = "text-align: center; margin-bottom: 2em;"> <i>by</i> <b>{{ post.author}}</b><i>, {{ post.date | date_to_long_string }}</i> </h5>

				<div class = "teaser"> {{ post.teaser | markdownify  }} </div>
	
				{% include continue.html %}
				
				
			{% endif %} 
		{% endif %}
		
		{% endfor %}

	{% include sep %}
		
	<!-- about myself -->
	
	<!-- about myself element -->
		{% for page in site.pages %}
			{% if page.categories contains 'about'%}	
			
				<p class = "two-col">	{{ page.teaser }} </p>
				
		<a class = "continue" href="{{ BASE_PATH }}{{ page.url }}"> Read more about myself! </a><br>
			
			{% endif %} 			
		{% endfor %}
		
	{% include sep %}
	</div>

	<!-- bloglist and research -->
		
	<div class = "indexcontent">

	<!-- Blog preview on Index Site -->
		
			<table>
				<tr>
					<td>	
					<!-- <div class = "leftcontainer">	-->
		
		<h5><i>more from the blog:</i></h5>
		
	{% for post in site.posts %}
		{% if post.categories contains 'blog'%}	
				
			{% if forloop.index == 2 %}
				<h2><a href="{{ BASE_PATH }}{{ post.url }}">{{ post.title | markdownify }}</a></h2>
				<h5> <i>by</i> <b>{{ post.author}}</b><i>, {{ post.date | date_to_long_string }}</i> </h5>
				{{ post.teaser }}
				{% if post.content contains "<!-- more -->" %}
					{{ post.content| split:"<!-- more -->" | first | markdownify  % }}
					{% include continue.html %}
				{% else %}	
					{{ post.content | markdownify | truncatewords:20 |  remove: '<ul>' |  remove: '<li>' |  remove: '</li>' |  remove: '</ul>' }} 
					{% include continue.html %}
				{% endif %}
			{% elsif forloop.index > 2 and forloop.index < 6 %}
				<h3><a href="{{ BASE_PATH }}{{ post.url }}">{{ post.title | markdownify }}</a></h3>
				<h5> <i>by</i> <b>{{ post.author}}</b><i>, {{ post.date | date_to_long_string }}</i> </h5>
				
			{% endif %}
		
		{% endif %}
					
	{% endfor %}
					</td>		
					<td style = "width:30px"> </td>
					<!-- <div class = "rightcontainer">	-->
					<td>

	<h5><i>about my research:</i></h5>
	
	{% for page in site.pages %}
			{% if page.categories contains 'research'%}	
		
				<h2><a href="{{ BASE_PATH }}{{ page.url }}">{{ page.title | markdownify }}</a></h2>
				 
				 {{ page.teaser | markdownify  }}			
				 
				 <h5>{{ page.partners  | prepend: '*Collaborators:* &nbsp;' | markdownify}}</h5>

			{% endif %} 			
	{% endfor %}
					</td>
				</tr>
			</table>

	</div>

	

	<!-- Publication list overview -->
			{% include sep %}

	<div class = "indexcontent">
		
	<h2><a href = "{{ BASE_PATH }}publications/">Selected publications</a></h2>
	<div class = "publist">
		<ul>
		{% for page in site.pages %}
			{% if page.categories contains 'article' and page.priority contains 'A'%}	
			
			 <li>
			 <a href= "{{ BASE_PATH }}{{page.url}}">{{ page.authors }} ({{ page.date | date: "%Y"}}), {{ page.title }}, <i>{{ page.journal }}</i>, {{page.volume}}:{{ page.pages }}</a>
			 </li>
			
			{% endif %} 			
		{% endfor %}
		</ul>
	</div>
	
		
	</div>	
			<p style = "text-align: center; margin-top: 20px; margin-bottom: 20px">	&diams; </p>

	<div class = "content">
	<!-- quote of the month element -->
	{% include quote.html %}
	</div>	
	
	<!-- footer -->


{% include footer.html%}
