---
layout: 
---

{% include head.html %}

    {% include title.html %}

<div class = "content">
<blockquote cite="">
<p>Don't you believe in flying saucers, they ask me? Don't you believe in telepathy? — in ancient astronauts? — in the Bermuda triangle? — in life after death?</p>
<p>No, I reply. No, no, no, no, and again no.</p>
<p>One person recently, goaded into desperation by the litany of unrelieved negation, burst out "Don't you believe in anything?"</p>
<p>"Yes", I said. "I believe in evidence. I believe in observation, measurement, and reasoning, confirmed by independent observers. I'll believe anything, no matter how wild and ridiculous, if there is evidence for it. The wilder and more ridiculous something is, however, the firmer and more solid the evidence will have to be."</p>
<p class = "citing">Isaac Asimov (1997) <i>The Roving Mind</i></p>
</blockquote>

<div id = "blogcontainer">	
	<br><br>
	
	<div id = "blog">
		{% for post in site.posts %}
		{% if post.categories contains 'blog'%}	
			<h5>{{ post.date | date_to_long_string }}</h5>
			{% if forloop.index < 3 %}
				<h2><a href="{{ BASE_PATH }}{{ post.url }}">{{ post.title | markdownify }}</a></h2>
				{% if post.content contains "<!-- more -->" %}
					{{ post.content | markdownify | split:"<!-- more -->" | first % }}
					{% include continue.html %}
				{% elsif {{post.content | number_of_words}} > 100 %}
					{{ post.content | markdownify | truncatewords:75 |  remove: '<ul>' |  remove: '<li>' |  remove: '</li>' |  remove: '</ul>' }} 
					{% include continue.html %}
				{% else %}
					{{ post.content | markdownify}}
				{% endif %} 
			{% elsif forloop.index < 5 %}
				<h3><a href="{{ BASE_PATH }}{{ post.url }}">{{ post.title | markdownify }}</a></h3>

				{% if post.content contains "<!-- more -->" %}
					{{ post.content | markdownify | split:"<!-- more -->" | first % }}
					{% include continue.html %}
				{% else %}	
					{{ post.content | markdownify | truncatewords:20 |  remove: '<ul>' |  remove: '<li>' |  remove: '</li>' |  remove: '</ul>' }} 
					{% include continue.html %}
				{% endif %}
			{% else %}
				<h3><a href="{{ BASE_PATH }}{{ post.url }}">{{ post.title | markdownify }}</a></h3>
		{% endif %}
		{% endif %}
				
{% endfor %}
	
	</div>
</div>
	
	
<div id = "rightcontainer">
<div id = "research">
	{% for post in site.posts %}
		{% if post.categories contains 'research' or post.categories contains 'about'%}	
			<h2><a href="{{ BASE_PATH }}{{ post.url }}">{{ post.title | markdownify }}</a></h2>{{ post.content | markdownify | truncatewords:75 |  remove: '<ul>' |  remove: '<li>' |  remove: '</li>' |  remove: '</ul>'}}
			{% include continue.html %}
		{% endif %} 			
	{% endfor %}
	
	</div>
</div>


</div>

{% include footer.html%}
