---
permalink: /research/
layout: pages
title: Research projects
---

<div id = "blog">

{% for page in site.pages %}
	{% if page.categories contains 'about'%}	

		<h1><a href="{{ BASE_PATH }}{{ page.url }}">{{ page.title | markdownify }}</a></h1>
		
		{{ page.content | split:"<!-- more -->" | first | markdownify }}
		
		<a class = "continue" href="{{ BASE_PATH }}{{ page.url }}"> Read more about myself! </a><br>
		
	{%endif%}			
{% endfor %}




{% for page in site.pages %}
	{% if page.categories contains 'research'%}	
	<div>
		
		<h1><a href="{{ BASE_PATH }}{{ page.url }}">{{ page.title | markdownify }}</a></h1>
		
		<a href="{{ BASE_PATH }}{{ page.url }}">{{ page.image | markdownify }}</a>
	
		{{ page.content | split:"<!-- more -->" | first  | markdownify }}
		
		<a class = "continue" href="{{ BASE_PATH }}{{ page.url }}"> Read more about this project! <span></span> </a><br>
		
	<h2> Project partners</h2> 
		{{ page.partners | markdownify}}
		
		
		
	<h2>Relevant publications</h2>
	<div class = "publist">
		<ul>
		{% for publication in site.pages %}
			{% if publication.categories contains 'article' and publication.tag contains page.tag%}	
			
			 <li>
			 <a href= "{{page.URL}}">{{ publication.authors }} ({{ publication.date | date: "%Y"}}), {{ publication.title }}, <i>{{ publication.journal }}</i>, {{publication.volume}}:{{ publication.pages }}</a>
			 </li>
			
			{% endif %} 			
		{% endfor %}
		</ul>
	</div>
			
		
		
		
	</div>
	<br><br>
	{%endif%}			
{% endfor %}




</div>
