---
permalink: /research/
layout: pages
title: My research
---



{% for page in site.pages %}
	{% if page.categories contains 'about'%}	

		<h2><a href="{{ BASE_PATH }}{{ page.url }}">{{ page.title | markdownify }}</a></h2>
			<div class = "teaser"> </div>
			{{ page.teaser | markdownify }} 
		{{ page.content | split:"<!-- more -->" | first | markdownify }}
		
		<a class = "continue" href="{{ BASE_PATH }}{{ page.url }}"> Read more about myself! </a><br>
		
	{%endif%}			
{% endfor %}




{% for page in site.pages %}
	{% if page.categories contains 'research'%}	
	<div>
		
	<h2><a href="{{ BASE_PATH }}{{ page.url }}">{{ page.title | markdownify }}</a></h2>
		
		<a href="{{ BASE_PATH }}{{ page.url }}">{{ page.image | markdownify }}</a>
			<div class = "teaser"> </div>

		{{ page.partners | prepend: '**Project partners:** &nbsp;' | markdownify}}
		<br>
		{{ page.teaser | markdownify }}
		{{ page.content | split:"<!-- more -->" | first  | markdownify }}
		
		

	<h3> Relevant publications </h3>
	<div class = "publist">
		<ul>
		{% for publication in site.pages %}
			{% if publication.categories contains 'article' and publication.tag contains page.tag%}	
			
			 <li>
			 <a href= "{{publication.url}}">{{ publication.authors }} ({{ publication.date | date: "%Y"}}), {{ publication.title }}, <i>{{ publication.journal }}</i>, {{publication.volume}}:{{ publication.pages }}</a>
			 </li>
			
			{% endif %} 			
		{% endfor %}
		</ul>
		
	</div>
			
		
		<a class = "continue" href="{{ BASE_PATH }}{{ page.url }}"> Read more about this project! <span></span> </a><br>
		
		
		
	</div>
	<br><br>
	{%endif%}			
{% endfor %}



<div class = "up" >
 <a rel = "prev" href="{{ site.url }}/"> <span>  &circ; </span></a>
</div>


<div class = "turn" style = " right: 0px" >
 <a rel = "next" href="{{ pages.last.url }}/"> <span> &rsaquo; </span></a>
</div>


<div class = "turn" style = " left: 0px" >
 <a rel = "prev" href="{{ site.url }}/"> <span> &lsaquo; </span></a>
</div>


