---
layout: pages
title: Ecology rocks!
---

<div id = "blog">
{% for post in site.posts %}
	{% if post.categories contains 'blog'%}
	<h1>  {{ post.title | markdownify }} </h1>
	<h5 style = "text-align: center; margin-bottom: 2em;"> <i>by</i> <b>{{ post.author}}</b><i>, {{ post.date | date_to_long_string }}</i> </h5>

		{% if forloop.index < 2 %}
			<div class = "teaser"> {{ post.teaser | markdownify }} </div>
			{{ post.content | markdownify }}

		{% elsif forloop.index > 2 and forloop.index < 5 %}
			<div class = "teaser"> {{ post.teaser | markdownify }} </div>
			{% if post.content contains "<!-- more -->" %}
					{{ post.content | split:"<!-- more -->" | first  | markdownify % }}
					{% include continue.html %}

			{% elsif {{post.content | number_of_words}} > 185 %}
				{{ post.content | markdownify | truncatewords:150  }} 
				{% include continue.html %}
			{% else %}
				{{ post.content | markdownify}}
			{% endif %} 
		{% else forloop.index > 5 %}
			{{ post.content | markdownify | truncatewords:50 }} <!--% remove: '<ul>' |  remove: '<li>' |  remove: '</li>' |  remove: '</ul>'-->
            {% include continue.html %}
		{% endif %}
	{%endif%}
		<br>
{% endfor %}
</div>
