{% include head.html %}

    {% include title.html %}

	{% include buttons.html%}

	<div class = "content">

	<h1>  {{ page.title | markdownify }} </h1>
	<h5 style = "text-align: center; margin-bottom: 2em;"> <i>by</i> <b>{{ page.author}}</b><i>, {{ page.date | date_to_long_string }}</i> </h5>

	<div class = "teaser"> {{ page.teaser | markdownify }} </div>
	{{ content }}


  {% if page.disqus %}

      <div id="disqus_thread"></div>
    <script type="text/javascript">
        /* * * CONFIGURATION VARIABLES: EDIT BEFORE PASTING INTO YOUR WEBPAGE * * */
        var disqus_shortname = 'fdschneider'; // required: replace example with your forum shortname
        var disqus_developer = 1; // This turns developer mode on
                                  // Make sure you remove this before you push this
                                  // to your live site.
        /* * * DON'T EDIT BELOW THIS LINE * * */
        (function() {
            var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
            dsq.src = '//' + disqus_shortname + '.disqus.com/embed.js';
            (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
        })();
    </script>
    <noscript>Please enable JavaScript to view the <a href="http://disqus.com/?ref_noscript">comments powered by Disqus.</a></noscript>


  {% endif %}


	</div>

	{% include footer.html%}
